@use './vars' as *; 

header {
    @include position(sticky, 0, $left: 0);
    @include font('xs', 900);
    z-index: 1;
    background-color: white;
}



header li {
    @include flex();
    height: 60px;
    margin-right: 20px;
    position: relative;

    &.active,
    &:hover {
        color: $primaryColor;
    }
}


header li.active::after,
header li:hover::after {
    content: '';
    @include position(absolute, $bottom: 0, $left: 0);
    width: 100%;
    height: 3px;
    background-color: $primaryColor;
}

header .container-xl {
    @include flex(space-between, auto);
    height: 60px;
    padding: 0 10px;
}

.search-bar, 
.hamburger-menu{
    img {
        width: 24px;
    }
}

.logo {
    @include flex;

    img {
        width: 40px;
        margin-right: 40px;
    }
}