@use './vars' as *; 

.jumbotron {
    height: 500px;
    background-image: url(../../public/img/jumbotron_2.avif);
    background-position: center;
    background-size: cover;
    box-shadow: 0px -20px 100px 10px black inset;
}



.jumbo-content {
    @include flex(auto, flex-end);
    height: 480px;
}

.jumbo-title {
    text-shadow: 1px 1px 5px black;
    color: white;
    >*{
        margin-bottom: 20px;
    }

    p{
        max-width: 80%;
        line-height: 30px;
    }
}

.main-nav {
    background-color: $primaryColor;
}

.main-nav ul {
    @include flex(space-around);
}

.main-nav li {
    @include flex;
    @include font(10px, $family: $openSans);
    padding: 20px 0;
    gap: 10px;
    color: white;
}

.main-nav img {
    height: 50px;
    width: auto;
}

.main-nav li:last-child img {
    width: 50px;
}

.comics-title {
    @include font('l', $color: white);
    background-color: $primaryColor;
    padding: 10px;
    display: inline-block;
    margin-bottom: 50px
}


.comics ul {
    @include grid_ul(2, 10px);
}

.comics a {
    display: block;
}

.comic-subtitle {
    @include font('xs',500, $family: $firaCode, $color: $grey, $letter-spacing: 3px, $text-transform: uppercase);
    margin: 5px 0;
}

.comic-title {
    @include font('l',$weight: 700, $color: black);
}

@media screen and (min-width: 576px) {
   .comics ul {
        @include grid_ul(3, 10px);
    }
}

@media screen and (min-width: 768px) {
   .comics ul {
        @include grid_ul(4, 10px);
    }
}

@media screen and (min-width: 992px) {
   .comics ul {
        @include grid_ul(6, 10px);
    }
}